*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.nav{
    width: 100%;
    height: 15%;
    padding: 15px;
    border: 5px black solid;
    display: flex;
    justify-content: space-between;
    align-content: center;
    position: fixed;
    background-color: bisque;
    top: 0;
    left: 0;
    z-index: 7;
}
.logo{
    width: 70%;
    height: 100%;
}
.logo img{
    /* width: 100%; */
    height: 100%;
}
.side{
    background-color: aqua;
    width: 60%;
    height: 100%;
    /* display: flex; */
    font-family: sans-serif;
}
.list{
    display: flex;
    gap: 10px;
    /* justify-content: space-between; */
}
.list a{
    text-decoration: none;
    color: black;
}
.list li{
    list-style-type: none;
}
.log{
    border: 1px solid transparent;
    padding: 15px;
    font-weight: 200;
}
.contact{
    border: 1.3px solid black;
    border-radius: 7px;
    padding: 10px 20px;
    font-weight: 480;
    font-size: 1.25rem;
}
.start{
    border: 1px solid black;
    border-radius: 7px;
    padding: 10px;
    font-weight: 500;
    font-size: large;
    background-color: black;
}
.start a{
    color: white;
}
.container{
    margin-top: 10%

}
.pic{
    width: 20%;
    height: 25%;
    display: flex;
}
.pic img{
    width: 100%;
    height: 100%;
}